<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Actividad 13</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mihistoria">
                <span class="bi bi-person-silhouette-nav-menu" aria-hidden="true"></span> Mi Historia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="conversor">
                <span class="bi bi-money-exchange-nav-menu" aria-hidden="true"></span> Conversor de Moneda
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dia_mes">
                <span class="bi bi-date-calculate-nav-menu" aria-hidden="true"></span> Día del Mes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista_numeros">
                <span class="bi bi-number-list-nav-menu" aria-hidden="true"></span> Lista de Números
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="numeros_primos">
                <span class="bi bi-show-numbers-nav-menu" aria-hidden="true"></span> Números Primos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="to_do">
                <span class="bi bi-checklist-nav-menu" aria-hidden="true"></span> Lista de Actividades
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="canciones">
                <span class="bi bi-songs-list-nav-menu" aria-hidden="true"></span> Ordenar Canciones
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="examen">
                <span class="bi bi-examen-nav-menu" aria-hidden="true"></span> Exámen
            </NavLink>
        </div>
    </nav>
</div>

